


  
      <%- include('../partials/dashboard/Header.ejs'); %>



<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
  
        <%- include('../partials/dashboard/Sidebar.ejs'); %>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
    

<%- include('../partials/dashboard/Nav.ejs'); %>

      <!-- End Navbar -->
      <div class="content">
        <div class="row">
   
          <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Create Blog Posts</h5>
              </div>


                  
              <% if (message.length > 0) { %>
                <!-- <%= message %> -->
                 <!-- <%= message %> -->
                 <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong class="text-center">
                      <%= message %></strong> 
                      
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            <% } %> 
            <% if (successMessage.length > 0) { %>
                <!-- <%= message %> -->
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong class="text-center">
                        <%= successMessage %></strong> 
                        
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            <% } %>
              <div class="card-body">
                <!-- <form  method="POST"  action="/admin-panel/create-blog" enctype="application/json"> -->
                  <form  method="post" enctype="multipart/form-data" action="/admin-panel/create-blog" >
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Blog Title</label>
                        <input                      name="title"  required type="text" class="form-control" placeholder="title" value="Blog">
                      </div> 
                    </div>
                    <div class="col-md-5 px-1">
                      <div class="form-group">
                        <label>Category</label>
                        <!-- <input type="text" class="form-control" placeholder="Username" value="michael23"> -->
                        <select
                        name="category" 
                        required class="form-control"  name="category" id="cars">

                        <%categories.forEach((category) => {%>
                          <option value="<%=category._id%>"><%=category.category_name%></option>
                      
                          

                      
          <% })%>
                      
                      
                          </select>
                      </div>
                    </div>
                    <div class="col-md-12 pl-1 ">
                      <center>



                        <h5 class="card-title">Add Cover Photo</h5>

                      <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input required type='file' name="file"  class="form-control" id="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url(https://images.pexels.com/photos/54333/person-clinic-cross-religion-54333.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
                            </div>
                        </div>
                      </center>
                    </div>
                      <!-- <div class="form-group">
                        <label for="exampleInputEmail1">Blog Cover Image</label>
                        <input accept="image/*" required type="file" name="file" class="form-control" placeholder="Click to select image">
                      </div> -->
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="Company" value="Chet">
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">`
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" value="Faker">
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Home Address" value="Melbourne, Australia">
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" placeholder="City" value="Melbourne">
                      </div>
                    </div>
                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" placeholder="Country" value="Australia">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Postal Code</label>
                        <input type="number" class="form-control" placeholder="ZIP Code">
                      </div>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Content</label>

                        <textarea
                        name="content" 
                        required id="example" class="form-control textarea">write your amazing blog here</textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button  type="submit" class="btn btn-primary btn-round">Create Blog</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


<%- include('../partials/dashboard/Footer.ejs'); %>
