
             <%- include('./partials/Header.ejs'); %>     
      <% if (message.length > 0) { %>
        <!-- <%= message %> -->
         <!-- <%= message %> -->
         <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong class="text-center">
              <%= message %></strong> 
              
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% } %> 
    <% if (successMessage.length > 0) { %>
        <!-- <%= message %> -->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong class="text-center">
                <%= successMessage %></strong> 
                
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <% } %>


      <div class="global-container" style="margin-top: 4%;">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Log in to Daily Musings</h3>
		<div class="card-text">
			<!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
            <center>                <form  method="POST"  action="/login" enctype="application/json">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label style="padding-left: 70px;" for="exampleInputPassword1">Password</label>
                        <a href="#" style="float:right;font-size:12px;">Forgot password?</a>
                        <input name="password" type="password" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block col-md-3">Sign in</button>
                    
                    <div class="sign-up col-md-6">
                        Don't have an account? <a href="#">Create One</a>
                    </div>
                </form>
            </center>
	
		</div>
	</div>
</div>
</div>


<%- include('./partials/Footer.ejs'); %>
